
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
